@tailwind base;
@tailwind components;
@tailwind utilities;

:root[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #333333;
  --button-bg: #222222;
  --button-text: #ffffff;
}

:root[data-theme="dark"] {
  --bg-color: #333333;
  --text-color: #ffffff;
  --button-bg: #ffffff;
  --button-text: #333333;
}

html{
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.container {
    padding: 2rem;
    text-align: center;
}

#theme-toggle {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--button-bg);
    color: var(--button-text);
    cursor: pointer;
}


.nav-link {
  position: relative;
  text-decoration: none;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: var(--text-color);
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}